/* Seccion para controlar maquetado de las paginas de seleccion; ejem: papa o mama -----------*/

.parientes-container {
    margin: 40px;
}

.parientes-icons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.iconos-familia {
    transition: transform 0.3s ease-in-out;
}

.iconos-familia:hover {
    transform: scale(1.2);
}

figure a img {
    height: 250px;
}

@media screen and (max-width:601px) {
    .parientes-icons{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}