/*En esta seccion del archivo CSS se controlan aspectos como la posicion y distribucion
visual (Posicion de imagenes, centrar textos, cajas flexbox, etc...) "Maquetado"*/

body {
    background-image: url("../images/backgrounds/background-index.jpg");
    background-size: cover;
    height: 500px;
}

header {
    padding: 20px 0;
}

.header {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 20px;
}

header h1 {
    text-align: center;
    /* font-size: 70px; */
}

.logo img {
    width: 200px;
    height: auto;
    padding-left: 20px;
}

.tittle {
    position: absolute;
    padding: 0 0 0 40%;
    /*arriba, der, abajo, izq*/
}


.navbar {
    padding: 10px 0;
    text-align: center;
    height: auto;
}

.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li {
    display: inline-block;
    margin: 0 15px;
}

.nav-list li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;

    font-size: 28px;
}


#nav-yo :hover {
    background-image: url("../images/nav/subrayado.PNG");
    background-repeat: no-repeat;
    background-size: 60px 45px;
}

#nav-hermanos :hover {
    background-image: url("../images/nav/subrayado-2.PNG");
    background-repeat: no-repeat;
    background-size: 180px 40px;
}

#nav-papas :hover {
    background-image: url("../images/nav/subrayado-3.PNG");
    background-repeat: no-repeat;
    background-size: 140px 40px;
}

#nav-abuelos :hover {
    background-image: url("../images/nav/subrayado-4.PNG");
    background-repeat: no-repeat;
    background-size: 150px 40px;
}

#nav-tios :hover {
    background-image: url("../images/nav/subrayado-5.PNG");
    color: black;
    background-repeat: no-repeat;
    background-size: 120px 40px;
}

#nav-primos :hover {
    background-image: url("../images/nav/subrayado-6.PNG");
    color: black;
    background-repeat: no-repeat;
    background-size: 150px 40px;
}

#nav-sobrinos :hover {
    background-image: url("../images/nav/subrayado-7.PNG");
    background-repeat: no-repeat;
    background-size: 170px 40px;
}

.main-content {
    margin: 50px 50px 10px 50px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    /*Para alinear elementos en una linea central*/
    gap: 5%;
}

.aside-alma img{
    height: 800px;
}

/* p {
    font-size: 2em;
} */


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
}



/* Seccion para controlar maquetado de la pagina de seleccion para papás -----------*/
#main-papas{
    /* height: 400px; */
}

.papas-container{
    margin: 40px;
}

.papas-icons {
    display: flex;
    justify-content: center;
    gap: 50px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

aside img {
    height: 250px;
}
/* Seccion para maquetado especifico de la pagina "Mi Mamá" --------------------*/

.bg-rayas{
    background-image: url("../images/backgrounds/HojaRayas.jpg");
}
.intereses-mama{
    margin: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.mid-intereses{
    display: flex;
    flex-direction: column;
}

/*------------------------------------------------------------------------*/
/*En esta seccion de CSS se controlan aspectos como colores de fondo, 
fuentes, color de texto, etc...*/

.caveat-font {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.gochi-hand {
    font-family: "Gochi Hand", cursive;
    font-weight: 400;
    font-style: normal;
}

.bg-black {
    background-color: black;
}

.bg-white {
    background-color: white;
}

.bg-grey {
    background-color: #5D5A5A;
}

.text-white {
    color: white;
}

.justify-text {
    text-align: justify;
}

.center-text {
    text-align: center;
}

.h1-size {
    font-size: 70px;
}

.h2-size {
    font-size: 50px;
}

.p-size {
    font-size: 20px;
}

.p-sizeBig{
    font-size: 45px;
}

.interline {
    line-height: 1.5;
}

.no-decoration{
    text-decoration: none;
}

.img-midSize{
    height: 300px;
}